# Configuración mínima para lit
import lit
config.name = "EOSPluginTests"
config.test_format = lit.formats.ShTest()
config.suffixes = ['.hpp']
config.test_source_root = os.path.dirname(__file__)
config.test_exec_root = config.test_source_root
config.environment['PATH'] = config.environment.get('PATH', '') + os.pathsep + os.path.join(config.top_srcdir, 'plugin', 'build')

