#pragma once
#include <Arduino.h>
#include <utility>
#include "eos_shared_services.hpp"

// === Clase original ===
class {{ name }} {{ body }};

// ===== PUNTOS DE EXTENSIÓN PARA EL HELPER =====
template<{{ name }}::Var v>
static decltype(auto) access_shared({{ name }}& p);

template<{{ name }}::Svc s, typename... Args>
static void invoke_service({{ name }}& p, Args&&... args);

// ===== Especializaciones =====
{% for f in fields if f.shared %}
// SharedVar {{ f.name }}
template<>
inline decltype(auto)
{{ name }}::access_shared<{{ name }}::Var::{{ f.name }}>({{ name }}& self) {
  return {{ "static_cast<const %s&>(self.%s)" | format(f.type, f.name) if f.readonly else "self.%s" | format(f.name) }};
}
{% endfor %}

{% for s in services %}
// Service {{ s.name }}
template<>
inline void
{{ name }}::invoke_service<{{ name }}::Svc::{{ s.name }}>({{ name }}& self{% for p in s.params %}, {{ p[0] }}&& {{ p[1] }}{% endfor %}) {
    self.{{ s.name }}({% for p in s.params %}std::forward<{{ p[0] }}>({{ p[1] }}){{ ", " if not loop.last }}{% endfor %});
}
{% endfor %}